body, #root {
  position: relative;
  color: black;
  height: 100vh;
  width: 100vw;

  overflow-y: hidden;
  padding: 0;
  margin: 0;
}

.error {
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.Lobby {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  height: 100vh;
}

.Lobby > label {
  font-size: 20px;
}

.Lobby > button {
  font-size: 20px;
  margin: 10px;
}

.roomName {
  color: blue;
}

.Room {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  flex-direction: column;

  width: 100vw;
  height: 100vh;
  margin: 10px;
}

.localPeer {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

.remotePeers {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;

  flex-wrap: wrap;
}

.Peer {
  border: 1px solid black;
  padding: 10px;
  margin-left: 2px;
  margin-bottom: 2px;
}

.peerVideo {
  width: 480px;
  height: 360px;
}